extends layout
block content
    .container
    .col-md-2
        table.table.table-bordered
            -for(var i=0;i<25;i++){
               -if(i%5==0){
                tr
               -}
                    td #{number[i]}
            -}
