extends layout
block content
    .container
    .col-md-2
        table.table.table-bordered
            -for(var i=0;i<25;i++){
               -if(i%5==0){
                tr(id="row#{i/5+1}")
               -}
                   td.num(id="cell#{i+1}")
                    b #{number[i]}
            -}
