extends layout

block content
    .header.nav-header
        h1= title
            span(style="float:right") 
                a(href="/how",target="_blank") How to Play

    .container
        .rightcontent.col-xs-7.col-md-9.pull-left
            h4.
                Welcome to i.Bingo, popularly known as BINGO, Housie and Tambola. This is an ultimate fun game of chance played with randomly drawn numbers which players match against random generated numbers that have been pre-printed on 5x5 matrices
                <br>
                <br>
                <ul><li>The event will have 10 rounds of a maximum of 15 minutes each.
                    <li>In each round, there will be 3 winners.
                </ul>
                <br>
                <strong>Lots of Prizes to be won including cash, coupons and goodies</strong><br><br>
                Team size- 1<br>
                Event day and time: Saturday, Oct 27, 10 PM IST<br>
                <br>
                PS: This is a completely online event. <strong>You don't need to register for i.Fest'13 to participate in this event.</strong>
        #login.col-xs-5.col-md-3.pull-right
            form(role="form")
                .form-group.login
                    label.control-label#loginlabel
                    input.form-control#username(type="text",placeholder="username")
                .form-group.login
                    input.form-control#password(type="password",placeholder="password")
                .form-group.register
                    label.control-label
                    input.form-control#ruser(type="text",placeholder="username")
                .form-group.register
                    input.form-control#pass1(type="password",placeholder="password")
                .form-group.register
                    input.form-control#pass2(type="password",placeholder="retype password")
                .form-group.register
                    input.form-control#email(type="email",placeholder="email address")
                .form-group
                    .col-lg-12
                    button.btn.btn-default#submit(type="button") Sign in
                    button.col-md-offset-1.btn.btn-default#register(type="button") Register
