extends layout

block content
    .header.nav-header
        h1= title
        //-
            ul.menu
            li#home
                a(href="/") home
            li#register
                a(href="/register") register
            li#login
                a(href="#login") login
    .container
        p Welcome to #{title}
        #login.col-xs-5.col-md-3.pull-right
            form(role="form")
                .form-group.login
                    input.form-control#username(type="text",placeholder="username")
                .form-group.login
                    input.form-control#password(type="password",placeholder="password")
                .form-group.register
                    label.control-label
                    input.form-control#ruser(type="text",placeholder="username")
                .form-group.register
                    input.form-control#pass1(type="password",placeholder="password")
                .form-group.register
                    input.form-control#pass2(type="password",placeholder="retype password")
                .form-group.register
                    input.form-control#email(type="email",placeholder="email address")
                .form-group
                    .col-lg-12
                    button.btn.btn-default#submit(type="button") Sign in
                    button.col-md-offset-1.btn.btn-default#register(type="button") Register
