extends layout

block content
  h1= title
  ul.menu
    li#home 
        a(href="/") home
    li#register
        a(href="/register") register
    li#login
        a(href="#login") login
  p Welcome to #{title}
