doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type='text\javascript', href='/javascript/jquery.js')
    script(type='text\javascript', href='/javascript/index.js')
  body
    block content
