extends rlayout
block content
    input#name(type="text",placeholder="Name")
    br
    input#pass1(type="password",placeholder="password")
    br
    input#pass2(type="password",placeholder="repeat password")
    br
    input#email(type="email",placeholder="Email")
    br
    input#submit(type="submit",value="Submit")
    br
