doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/register.css')
    script(type='text/javascript', src='/javascripts/jquery-2.0.3.js')
    script(type='text/javascript', src='/javascripts/jquery.md5.js')
    script(type='text/javascript', src='/javascripts/register.js')
  body
    block content
