td{
    width:40px;
    height:40px;
}
table{
    width:auto !important;
}
td.num{
    text-align:center;
    line-height:20px;
}
#generator{
    display:inline-block;
    border:thick solid #000;
    font-size: 90px;
    text-align:center;
    width: 185px;
    height: 185px;
    line-height: 185px;
   -webkit-user-select: none;  /* Chrome all / Safari all */
   -moz-user-select: none;     /* Firefox all */
   -ms-user-select: none;      /* IE 10+ */
   /* No support for these yet, use at own risk */
   -o-user-select: none;
   user-select: none;
   background: #ddd;
}
.precont{
    display:inline-block;
    float:left;
}
.clams{
    margin-top:5px;
}
#clambuttons{
    text-align:center;
}
.card{
    float:right;
}
#result{
    width:100% !important;
}
.help{
    text-align:center;
}
#previousdeclaredNum,#allNum{
    word-wrap: break-word;
}
.ch,.openchat{
    width:100%;
    background:#34495e;
    cursor:pointer;
    padding:5px;
    padding-left:15px;
    position:fixed;
    color:#ddd;
    font-weight:bold;
}
.openchat{
    position:relative;
}
.instruction,.messages,.transmission{
    display:none;
}
.messages{
    height:350px;
    overflow-y:auto;
}
.msgs{
    margin-top:27px;
}
ul.nav.menu li a{
    color:#fff !important;
}
#gameover{
    color:red;
}
.msg{
    background:#16A085;
    font-size:large;
}
ul.nav.menu li.clickable:hover{
    background:#2C3E50;
}
ul.nav.menu li.active a{
    color:#555 !important;
    font-weight:bold;
}
.header{
    border-radius:0
}
.card td{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    background:#fff;
    cursor:pointer;
}
.chatbox{
    position: fixed;
    width: 250px;
    background: #fdfdfd;
    bottom: 0;
    right: 0;
}
.clicked{
background-color:rgb(41, 128, 185);
}
#chatmsg{
width:100%;
position:absolute;
bottom:0;
}
.amo{
    padding:0 !important;
    font-size:small;
    vertical-align:middle !important;
}
