.num b{
    cursor:pointer;
}
td.num{
    /*height:50px;*/
    /*width:50px;*/
    text-align:center;
    line-height:20px;
}
#generator{
    border:thick solid #000;
    font-size:100px;
    text-align:center;
}
.clams{
    margin-top:5px;
}
#clambuttons{
    text-align:center;
}
.sel{
    background-color:green;
}
.chatbox{
    height:100%;
}
.help{
    text-align:center;
}
#previousdeclaredNum{
    word-wrap: break-word;
}
.instruction{
    display:none;
}
