.num b{
    cursor:pointer;
}
td{
    width:40px;
    height:40px;
}
table{
    width:auto !important;
}
td.num{
    text-align:center;
    line-height:20px;
}
#generator{
    display:inline-block;
    border:thick solid #000;
    font-size: 90px;
    text-align:center;
    width: 185px;
    height: 185px;
    line-height: 185px;
    background: #ddd;
}
.precont{
    display:inline-block;
    float:left;
}
.clams{
    margin-top:5px;
}
#clambuttons{
    text-align:center;
}
.sel{
    background-color:green;
}
.card{
    float:right;
}
#result{
    width:100% !important;
}
.samplecard{
    display:inline-block;
    margin-right:10px;
}
.chatbox{
    height:100%;
}
.help{
    text-align:center;
}
#previousdeclaredNum,#allNum{
    word-wrap: break-word;
}
.instruction{
    display:none;
}
.messages{
    height:150px;
    overflow-y:scroll;
}
ul.nav li a{
    color:#fff !important;
}
ul.nav li:hover{
    background:#2C3E50;
}
ul.nav li.active a{
    color:#555 !important;
    font-weight:bold;
}
.header{
    border-radius:0
}
.card td{
    background:#fff;
}

